.Details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.Details p:first-child {
  border-top: solid 2px lightgray;
}
.Details p {
  border: solid 2px lightgray;
  border-top: none;
  padding: 2px;
}
.Information {
  color: gray;
  font-size: 15px;
}
.Categorie {
  font-size: 20px;
}